@import "./config/variables.scss";
@import "./config/rem-calc.scss";
@import "./config/reset.scss";

html {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--dark);
  color: var(--white);
}
