@import "./config/variables.scss";
@import "./config/rem-calc.scss";
@import "./config/reset.scss";

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

body {
  background-color: var(--dark);
  color: var(--white);
}
